/* Estilos existentes del proyecto */

/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

html, body {
  height: 100%; /* Asegura que html y body ocupen toda la altura de la ventana */
  margin: 0; /* Elimina márgenes predeterminados */
}

.wrapper {
  display: flex;
  flex-direction: column; /* Permite apilar los elementos verticalmente */
  min-height: 100vh; /* Asegura que la altura total sea igual a la altura de la ventana */
}

.content {
  flex: 1; /* Expande el contenido principal para ocupar el espacio restante */
}

.footer {
  /*background-color: #f8f9fa; /* Fondo del footer */
  padding: 20px 0; /* Espaciado interno */
  text-align: center; /* Centrar texto */
  border-top: 1px solid #e5e5e5; /* Línea superior */
}

/* Nuevos estilos para el área de respuesta */
#respuestaFormatted {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  background-color: #f8f9fa;
  font-family: Arial, sans-serif;
  font-size: 14px;
  color: #333;
  resize: both;
  overflow: auto;
  white-space: pre-wrap;
}

#respuestaFormatted strong {
  font-weight: bold;
  color: #333; /* Negritas específicas */
}

#respuestaFormatted em {
  font-style: italic;
  color: #666; /* Cursivas específicas */
}

#respuestaFormatted p {
  margin: 0 0 10px;
}

#respuestaFormatted ul {
  padding-left: 20px;
}

#respuestaFormatted li {
  list-style-type: disc;
}
