@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Encargado")]
@model sisae.Pages.AccesosProhibidos.CreateModel
@{
    ViewData["Title"] = "Crear Acceso Prohibido";
}

<div class="row">
    <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">Crear Acceso Prohibido</h2>
    </div>
</div>

<form method="post">
    <div class="row">
        <!-- Primera columna -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AccesoProhibido.ID_Visitante" class="control-label">Visitante</label>
                <!-- Aquí se usa asp-items para cargar el SelectList -->
                <select asp-for="AccesoProhibido.ID_Visitante" class="form-control" asp-items="Model.VisitantesSelectList"></select>
                <span asp-validation-for="AccesoProhibido.ID_Visitante" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccesoProhibido.Motivo" class="control-label">Motivo</label>
                <input asp-for="AccesoProhibido.Motivo" class="form-control" />
                <span asp-validation-for="AccesoProhibido.Motivo" class="text-danger"></span>
            </div>
        </div>

        <!-- Segunda columna -->
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AccesoProhibido.Fecha_Prohibicion" class="control-label">Fecha de Prohibición</label>
                <input asp-for="AccesoProhibido.Fecha_Prohibicion" class="form-control" />
                <span asp-validation-for="AccesoProhibido.Fecha_Prohibicion" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AccesoProhibido.Fecha_Expiracion" class="control-label">Fecha de Expiración</label>
                <input asp-for="AccesoProhibido.Fecha_Expiracion" class="form-control" />
                <span asp-validation-for="AccesoProhibido.Fecha_Expiracion" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary">Guardar</button>
        <a asp-page="./Index" class="btn btn-secondary">Volver</a>
    </div>
</form>

