@page "{id:int}"
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Encargado")]
@model sisae.Pages.AccesosProhibidos.EditModel
@{
    ViewData["Title"] = "Editar Acceso Prohibido";
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Editar Acceso Prohibido</h2>
        </div>
    </div>
    <form method="post" class="mt-4 p-4 border rounded bg-light">
        <input type="hidden" asp-for="AccesoProhibido.ID_Acceso_Prohibido" />
        <div class="row mb-3">
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <select asp-for="AccesoProhibido.ID_Visitante" class="form-control" asp-items="Model.VisitantesSelectList" disabled></select>
                    <label asp-for="AccesoProhibido.ID_Visitante">Visitante</label>
                    <span asp-validation-for="AccesoProhibido.ID_Visitante" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="AccesoProhibido.Fecha_Prohibicion" class="form-control" />
                    <label asp-for="AccesoProhibido.Fecha_Prohibicion">Fecha de Prohibición</label>
                    <span asp-validation-for="AccesoProhibido.Fecha_Prohibicion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-floating mb-3">
                    <input asp-for="AccesoProhibido.Motivo" class="form-control" />
                    <label asp-for="AccesoProhibido.Motivo">Motivo</label>
                    <span asp-validation-for="AccesoProhibido.Motivo" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="AccesoProhibido.Fecha_Expiracion" class="form-control" />
                    <label asp-for="AccesoProhibido.Fecha_Expiracion">Fecha de Expiración</label>
                    <span asp-validation-for="AccesoProhibido.Fecha_Expiracion" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-primary me-2">Guardar Cambios</button>
            <a asp-page="./Index" class="btn btn-secondary">Volver</a>
        </div>
    </form>
</div>
