@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador, Encargado")]
@model ChangePasswordModel
@{
    ViewData["Title"] = "Cambiar Contraseña";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">@ViewData["Title"]</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form id="change-password-form" method="post" class="p-4 border rounded bg-light">
                <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Por favor, ingrese su contraseña actual." />
                    <label asp-for="Input.OldPassword" class="form-label">Contraseña Actual</label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, ingrese su nueva contraseña." />
                    <label asp-for="Input.NewPassword" class="form-label">Nueva Contraseña</label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Por favor, confirme su nueva contraseña."/>
                    <label asp-for="Input.ConfirmPassword" class="form-label">Confirmar Nueva Contraseña</label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary w-100">Actualizar Contraseña</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
