@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador, Encargado")]
@model IndexModel
@{
    ViewData["Title"] = "Perfil";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3 class="text-center">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row" style="text-align: center;">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" 
                       placeholder="Por favor ingrese su nombre de usuario" 
                       required /> <!-- Habilitar edición del nombre de usuario -->
                <label asp-for="Username" class="form-label"></label>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" 
                       placeholder="Ingrese su número de teléfono" 
                       title="Ingrese su número de teléfono" 
                       required pattern="^\+?[0-9]{10,15}$" /> <!-- Validación del número -->
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Guardar</button>
            <div id="feedback-message" class="mt-3"></div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('profile-form').addEventListener('submit', function(event) {
            event.preventDefault();
            const feedbackMessage = document.getElementById('feedback-message');
            feedbackMessage.innerText = 'Guardando cambios...';
            feedbackMessage.classList.add('text-info');

            // Simular una llamada a servidor
            try {
                setTimeout(() => {
                    feedbackMessage.innerText = 'Perfil actualizado con éxito';
                    feedbackMessage.classList.remove('text-info');
                    feedbackMessage.classList.add('text-success');
                }, 2000);
            } catch (error) {
                feedbackMessage.innerText = "Error: No se pudo actualizar el perfil.";
                feedbackMessage.classList.remove('text-info');
                feedbackMessage.classList.add('text-danger');
            }
        });
    </script>
}