@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Encargado")]
@model sisae.Pages.Visitantes.CreateModel

@section Scripts {
    <script type="text/javascript">
        // Obtener el parámetro RUT de la URL y prellenar el campo RUT
        const urlParams = new URLSearchParams(window.location.search);
        const rutParam = urlParams.get('rut');
        if (rutParam) {
            document.querySelector('input[name="Visitante.RUT"]').value = rutParam;
        }

        // Acceder a los elementos del DOM para la cámara
        var video = document.getElementById('video');
        var canvas = document.getElementById('canvas');
        var photo = document.getElementById('photo');
        var cedulaPhoto = document.getElementById('cedulaPhoto');
        var btnCapture = document.getElementById('btn-capture');
        var btnScanCedula = document.getElementById('btn-scan-cedula');
        var inputFotoBiometrica = document.getElementById('FotoBiometrica');

        // Acceder a la cámara
        navigator.mediaDevices.getUserMedia({ video: true })
            .then(function (stream) {
                video.srcObject = stream;
                video.play();
            })
            .catch(function (err) {
                console.log("Error al acceder a la cámara: " + err);
            });

        // Capturar la imagen del visitante
        btnCapture.addEventListener('click', function () {
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, 320, 240);

            // Convertir la imagen a base64
            var dataURL = canvas.toDataURL('image/png');
            photo.src = dataURL;
            photo.style.display = 'block';

            // Asignar la imagen capturada al campo hidden
            inputFotoBiometrica.value = dataURL.split(',')[1];
        });

        // Variable para mantener el estado de la notificación
        let hasShownAlert = false;

        document.querySelector('input[name="Visitante.RUT"]').addEventListener('blur', function() {
            const rutInput = this.value.trim();
            
            if (!validarRut(rutInput)) {
                if (!hasShownAlert) {
                    alert("El RUT ingresado no es válido. Asegúrese de que siga el formato adecuado y tenga el dígito verificador correcto.");
                    hasShownAlert = true; // Marcar que la alerta ha sido mostrada
                }
                this.focus();
            } else {
                hasShownAlert = false; // Resetear estado si el RUT es válido
            }
        });

        // Función para validar el RUT usando Módulo 11
        function validarRut(rutCompleto) {
            rutCompleto = rutCompleto.replace(/[.\-]/g, '').toUpperCase(); // Eliminar puntos y guión, y convertir a mayúsculas
            if (!/^[0-9]+[0-9K]$/.test(rutCompleto)) return false;

            const rut = rutCompleto.slice(0, -1);
            const dv = rutCompleto.slice(-1);
            
            let suma = 0;
            let multiplo = 2;
            
            for (let i = rut.length - 1; i >= 0; i--) {
                suma += parseInt(rut.charAt(i)) * multiplo;
                multiplo = multiplo < 7 ? multiplo + 1 : 2;
            }
            
            const resto = 11 - (suma % 11);
            const dvCalculado = resto === 11 ? '0' : resto === 10 ? 'K' : resto.toString();
        
            return dvCalculado === dv;
        }

        // Función para convertir la fecha al formato YYYY-MM-DD
        function formatearFechaYYYYMMDD(fecha) {
            const partes = fecha.split('-'); // Asumimos que la fecha está en formato DD-MM-YYYY
            const dia = partes[0];
            const mes = partes[1];
            const anio = partes[2];
            return `${anio}-${mes}-${dia}`; // Formato YYYY-MM-DD
        }

        // Capturar la cédula de identidad para OCR
        btnScanCedula.addEventListener('click', function () {
            var context = canvas.getContext('2d');
            context.drawImage(video, 0, 0, 320, 240);

            var dataURL = canvas.toDataURL('image/png');
            cedulaPhoto.src = dataURL;
            cedulaPhoto.style.display = 'block';

            var imageBase64 = dataURL.split(',')[1];

            fetch('/Visitantes/Create?handler=ScanCedula', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'RequestVerificationToken': document.querySelector('input[name="__RequestVerificationToken"]').value
                },
                body: JSON.stringify({ imageBase64: imageBase64 })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.success) {
                        // Si es un nuevo RUT, limpiar todos los campos del formulario
                        if (!data.visitanteExistente) {
                            limpiarCamposFormulario();
                        }

                        // Completar los campos con la nueva información
                        if (data.nombre) {
                            document.querySelector('input[name="Visitante.Nombre"]').value = data.nombre;
                        }
                        if (data.primerApellido && data.segundoApellido) {
                            document.querySelector('input[name="Visitante.Apellido"]').value = `${data.primerApellido} ${data.segundoApellido}`;
                        }
                        if (data.direccion) {
                            document.querySelector('input[name="Visitante.Direccion"]').value = data.direccion;
                        }
                        if (data.telefono) {
                            document.querySelector('input[name="Visitante.Telefono"]').value = data.telefono;
                        }
                        if (data.email) {
                            document.querySelector('input[name="Visitante.Email"]').value = data.email;
                        }
                        if (data.nacionalidad) {
                            document.querySelector('input[name="Visitante.Nacionalidad"]').value = data.nacionalidad;
                        }

    
                        // Validar el RUT antes de asignarlo
                        if (data.run && validarRut(data.run)) {
                            document.querySelector('input[name="Visitante.RUT"]').value = data.run;
                        } else {
                            alert("El RUT extraído no es válido.");
                        }

                        // Asignar las fechas (nacimiento y vencimiento) en formato YYYY-MM-DD
                        if (data.nacimiento) {
                            const fechaNacimientoFormateada = formatearFechaYYYYMMDD(data.nacimiento);
                            document.querySelector('input[name="Visitante.FechaNacimiento"]').value = fechaNacimientoFormateada;
                        }

                        if (data.vencimiento) {
                            const fechaVencimientoFormateada = formatearFechaYYYYMMDD(data.vencimiento);
                            document.querySelector('input[name="Visitante.FechaVencimientoCarnet"]').value = fechaVencimientoFormateada;
                        }

                    } else {
                        alert("No se pudo extraer información de la cédula.");
                    }
                })
                .catch(error => {
                    console.error('Error en el proceso OCR:', error);
                    alert('Ocurrió un error durante el proceso OCR.');
                });
        });

        // Función para limpiar los campos del formulario
        function limpiarCamposFormulario() {
            document.querySelector('input[name="Visitante.Nombre"]').value = '';
            document.querySelector('input[name="Visitante.Apellido"]').value = '';
            document.querySelector('input[name="Visitante.Direccion"]').value = '';
            document.querySelector('input[name="Visitante.Telefono"]').value = '';
            document.querySelector('input[name="Visitante.Email"]').value = '';
            document.querySelector('input[name="Visitante.Nacionalidad"]').value = '';
            document.querySelector('input[name="Visitante.RUT"]').value = '';
            document.querySelector('input[name="Visitante.FechaNacimiento"]').value = '';
            document.querySelector('input[name="Visitante.FechaVencimientoCarnet"]').value = '';
        }
    </script>
}

<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
            <h2 class="h2">Registrar Visitante</h2>
        </div>
    </div>
    <form method="post" class="mt-4 p-4 border rounded bg-light">
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.RUT" class="form-control" placeholder="RUT del visitante" />
                    <label asp-for="Visitante.RUT">RUT</label>
                    <span asp-validation-for="Visitante.RUT" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Nombre" class="form-control" placeholder="Nombres del visitante" />
                    <label asp-for="Visitante.Nombre">Nombres</label>
                    <span asp-validation-for="Visitante.Nombre" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Apellido" class="form-control" placeholder="Apellidos del visitante" />
                    <label asp-for="Visitante.Apellido">Apellidos</label>
                    <span asp-validation-for="Visitante.Apellido" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.FechaNacimiento" class="form-control" type="date" />
                    <label asp-for="Visitante.FechaNacimiento">Fecha de Nacimiento</label>
                    <span asp-validation-for="Visitante.FechaNacimiento" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Direccion" class="form-control" placeholder="Dirección del visitante" />
                    <label asp-for="Visitante.Direccion">Dirección</label>
                    <span asp-validation-for="Visitante.Direccion" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Telefono" class="form-control" placeholder="Teléfono del visitante" />
                    <label asp-for="Visitante.Telefono">Teléfono</label>
                    <span asp-validation-for="Visitante.Telefono" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Email" class="form-control" placeholder="Correo electrónico del visitante" />
                    <label asp-for="Visitante.Email">Correo Electrónico</label>
                    <span asp-validation-for="Visitante.Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.Nacionalidad" class="form-control" placeholder="Nacionalidad del visitante" />
                    <label asp-for="Visitante.Nacionalidad">Nacionalidad</label>
                    <span asp-validation-for="Visitante.Nacionalidad" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-floating mb-3">
                    <input asp-for="Visitante.FechaVencimientoCarnet" class="form-control" type="date" />
                    <label asp-for="Visitante.FechaVencimientoCarnet">Fecha de Vencimiento del Carnet</label>
                    <span asp-validation-for="Visitante.FechaVencimientoCarnet" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="container mt-4">
            <div class="d-flex justify-content-center mb-3">
                <button type="button" class="btn btn-secondary btn-lg mx-2" id="btn-capture">Capturar Imagen del Visitante</button>
                <button type="button" class="btn btn-primary btn-lg mx-2" id="btn-scan-cedula">Escanear Cédula de Identidad</button>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="border p-4" style="height: 400px; border-radius: 10px;">
                        <video id="video" width="100%" height="100%" class="border rounded" autoplay></video>
                        <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="border p-4" style="height: 400px; border-radius: 10px;">
                        <div class="mb-2">
                            <img id="photo" src="#" alt="Foto del visitante" class="img-fluid" style="display:none; width: 30%; height: auto; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0,0,0,0.1);" />
                        </div>
                        <div class="mb-2">
                            <p style="font-style: italic;">Imagen capturada del visitante.</p>
                        </div>
                        <div class="mb-2">
                            <img id="cedulaPhoto" src="#" alt="Foto de la cédula" class="img-fluid" style="display:none; width: 30%; height: auto; border-radius: 10px; box-shadow: 0px 4px 8px rgba(0,0,0,0.1);" />
                        </div>
                        <div>
                            <p style="font-style: italic;">Imagen escaneada de la cédula de identidad.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" asp-for="Visitante.FotoBiometrica" id="FotoBiometrica" />
        <span asp-validation-for="Visitante.FotoBiometrica" class="text-danger"></span>
        <button type="submit" class="btn btn-primary mt-4 w-100">Registrar Visitante</button>
    </form>
</div>


