@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p>
    Por favor, revisa tu correo electrónico para restablecer tu contraseña.
</p>
