@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmación de registro";
}

<h1 class="text-center">@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    Esta aplicación actualmente no tiene un servicio de correo electrónico real configurado. Consulta <a href="https://aka.ms/aspaccountconf">estos documentos</a> para saber cómo configurar un servicio de correo electrónico real.
    Normalmente, esto se enviaría por correo electrónico: <a id="confirm-link" href="@Model.EmailConfirmationUrl">Haz clic aquí para confirmar tu cuenta</a>
</p>
    }
    else
    {
<p>
        Por favor, revisa tu correo electrónico para confirmar tu cuenta.
</p>
    }
}

