@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Confirmación de restablecimiento de contraseña";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<p>
    Tu contraseña ha sido restablecida. Por favor, <a asp-page="./Login">haz clic aquí para iniciar sesión</a>.
</p>
