@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="row">
    <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2 text-danger">Error</h1>
    </div>
</div>

<h2 class="text-danger">Ocurrió un error al procesar tu solicitud.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID de Solicitud:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Modo de Desarrollo</h3>
<p>
    Cambiar al entorno de <strong>Desarrollo</strong> muestra información detallada sobre el error que ocurrió.
</p>
<p>
    <strong>El entorno de Desarrollo no debería estar habilitado para aplicaciones desplegadas.</strong>
    Puede resultar en la visualización de información sensible de excepciones a los usuarios finales.
    Para depuración local, habilita el entorno de <strong>Desarrollo</strong> configurando la variable de entorno <strong>ASPNETCORE_ENVIRONMENT</strong> a <strong>Desarrollo</strong>
    y reiniciando la aplicación.
</p>
