@page
@model PrivacyModel
@{
    ViewData["Title"] = "Política de Privacidad";
}

<h1 class="text-center">@ViewData["Title"]</h1>

<p>Esta página detalla la política de privacidad de nuestro sistema de control de ingresos. A continuación, se describe cómo recopilamos, usamos y protegemos la información personal de nuestros usuarios.</p>

<h2>Recopilación de Información</h2>
<p>Recopilamos información personal que los usuarios nos proporcionan directamente, como nombre, dirección de correo electrónico, número de teléfono y RUT, cuando se registran en nuestro sistema o utilizan nuestros servicios.</p>

<h2>Uso de la Información</h2>
<p>Utilizamos la información recopilada para proporcionar y mejorar nuestros servicios, comunicarnos con los usuarios, personalizar la experiencia del usuario en nuestro sistema y garantizar la seguridad de las visitas y accesos.</p>

<h2>Protección de la Información</h2>
<p>Implementamos medidas de seguridad adecuadas para proteger la información personal de los usuarios contra el acceso no autorizado, la alteración, divulgación o destrucción. Esto incluye el uso de cifrado y protocolos de seguridad en nuestras comunicaciones.</p>

<h2>Política de Cookies</h2>
<p>Utilizamos cookies para mejorar la funcionalidad de nuestro sistema y analizar el tráfico. Los usuarios pueden controlar el uso de cookies a través de la configuración de su navegador.</p>

<h2>Contacto</h2>
<p>Si tiene alguna pregunta sobre nuestra política de privacidad, no dude en ponerse en contacto con nosotros a través de nuestro formulario de contacto o enviando un correo electrónico a soporte@ejemplo.com.</p>

<h2>Actualizaciones de la Política de Privacidad</h2>
<p>Nos reservamos el derecho de actualizar esta política de privacidad en cualquier momento. Cualquier cambio será publicado en esta página y, si es significativo, se notificará a los usuarios a través de un aviso en nuestro sistema.</p>