@page
@model sisae.Pages.Visitados.CreateModel
@{
    ViewData["Title"] = "Crear Visitado";
}

<h2>Crear Visitado</h2>

<form method="post">
    <div class="form-group">
        <label asp-for="Visitado.Nombre" class="control-label"></label>
        <input asp-for="Visitado.Nombre" class="form-control" />
        <span asp-validation-for="Visitado.Nombre" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Visitado.Apellido" class="control-label"></label>
        <input asp-for="Visitado.Apellido" class="form-control" />
        <span asp-validation-for="Visitado.Apellido" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Visitado.Cargo" class="control-label"></label>
        <input asp-for="Visitado.Cargo" class="form-control" />
        <span asp-validation-for="Visitado.Cargo" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Visitado.Departamento" class="control-label"></label>
        <input asp-for="Visitado.Departamento" class="form-control" />
        <span asp-validation-for="Visitado.Departamento" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Visitado.Email" class="control-label"></label>
        <input asp-for="Visitado.Email" class="form-control" />
        <span asp-validation-for="Visitado.Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Visitado.Telefono" class="control-label"></label>
        <input asp-for="Visitado.Telefono" class="form-control" />
        <span asp-validation-for="Visitado.Telefono" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Guardar</button>
    <a asp-page="./Index" class="btn btn-secondary mt-3">Volver</a>
</form>
