@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Encargado")]
@model sisae.Pages.Visitados.DeleteModel
@{
    ViewData["Title"] = "Eliminar Visitado";
}

<div class="row">
    <div class="col-12 text-center pt-3 pb-2 mb-3 border-bottom">
        <h2 class="h2">¿Estás seguro que deseas eliminar a @Model.Visitado.Nombre @Model.Visitado.Apellido?</h2>
    </div>
</div>

<form method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>
