@page
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Administrador,Encargado")]
@model sisae.Pages.Visitados.DeleteModel
@{
    ViewData["Title"] = "Eliminar Visitado";
}

<h2 class="text-center">¿Estás seguro que deseas eliminar a @Model.Visitado.Nombre @Model.Visitado.Apellido?</h2>

<form method="post">
    <button type="submit" class="btn btn-danger">Eliminar</button>
    <a asp-page="./Index" class="btn btn-secondary">Cancelar</a>
</form>
